@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
.mx-margin{
margin:auto;
}
html,body{
    height:100%;
    width:100%;
    font-family: 'Roboto', sans-serif;
 }
.flex{
    display:flex;
    flex-direction:column;
    
}

.items-center{
    align-items:center;
}
.text-center{
    text-align:center;
}
.btn{
    padding:20px;
    margin:2px 2px;
    border:2px solid balck;
    border-radius:6px;
    cursor:pointer;
}
.row{
    margin:8px 0px;
}
.row input{
    font-size:20px;
   margin:0px;
   padding:10px 31px;
   border:2px solid black;
   border-radius:6px;
}